*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: rgb(39, 33, 59);
}

a{
    display: inline-block;
    color: white;
    text-decoration: none;
}

.nav a{
    display: flex;
    font-family: iceland; 
    font-size: 40px;
    padding: 10px; 
    margin-right: 30px;
    justify-content: flex-end;
}

.nav a span{
    color: rgb(152, 197, 62);
    font-family: iceland; 
}

.about{
    display: flex;
    flex-direction: column;
    color: aqua;
    flex-grow: 400px;
    margin: 100px;
    
}

.about h3{
    flex-grow: 400px;
    text-align: justify;
    margin: 20px 0px;
} 

.offer, .off{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
}

.offer .off [class*="off"]{
    width: 300px;
    text-align: center;
    background-color: rgb(235, 112, 31);
    padding: 30px;
    transition: 0.5s transform;
    cursor: pointer;
    flex-grow: 1;
    margin: 10px;
}

.offer .off [class*="off"] .more{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.offer .off [class*="off"] .more a{
    padding: 5px;
    background-color: rgb(213, 252, 136);
    color: rgb(117, 91, 172);
    font-weight: bold;
    transition: 0.5s background-color, color; 
}

.offer .off [class*="off"] .more a:hover{

    background-color: rgb(64, 85, 24);
    color: rgb(220, 213, 235);

}

.offer .off [class*="off"] h1{
    margin-bottom: 30px;
    
}

.offer .off [class*="off"]:hover{
    transform: scale(1.1);
}

.footer{
    text-align: center;
    color: white;
    background-color: rgb(24, 21, 36);
    padding: 10px;
}

/* Tablet */

@media (max-width: 768px){
    .nav a{
        font-size: 30px;
    }
}


/* Mobile */

@media (max-width: 426px){
    .about{
        margin: 50px;
    }
}

@media (max-width: 376px){
    .about{
        margin: 20px;
    }
}

@media (max-width: 320px){
    .nav a{
        font-size: 25px;
        justify-content: center;
        margin: 0;
    }
    .about h1{
        font-size: 25px;
    }
    .about h3{
        font-size: 16px;
    }
}

